html,* {
  font-family: 'Inter';
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  line-height: 1.6;
}

.lead {
  font-size: 1.5rem;
  font-weight: 300;
}

.container {
  margin: auto;
  max-width: 95vw;
}

h2 {
  text-align: center;
}